
h1 {
	color: #7B68EE;
}


h3 {
	color: #9370DB;
}

h2 {
	color: #8A2BE2;
}


p {
	color: #7B68EE;
}



h1 {
  font-size: 40px;
}

h2 {
font-size: 2.5em;

}

p {
font-size: 1.5em;

}

h3 {
font-size: 1.5em;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9370DB;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFFAFA;
  text-align: center;
  padding: 20px 45px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

<p style="background-color:Tomato;">Lorem ipsum...</p>
p {
background-color: Tomato;
}


li { 
 display: inline; 
} 

span.destaque { 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
 padding: 5px; 
 border: 1px solid blue; 
 background-color: yellow; 
} 

h1 {
  position: relative;
  left: 400px;
}

h3 {
  position: relative;
  left: 350px;
}

h2 {
  position: relative;
  left: 550px;
}

p{
  position: relative;
  left: 500px;
}

img {
  position: relative;
  left: 200px;
}

h1 { 
 display: inline-block; 
 width: 200x; 
 height: 200x; 
 padding: 50x; 
 border: 10x solid blue; 
 background-color: #B0E0E6; 
} 

h2 { 
 display: inline-block; 
 width: 200x; 
 height: 200x; 
 padding: 50x; 
 border: 10x solid blue; 
 background-color: #B0E0E6; 
} 


