
h1 {
	color: #7B68EE;
}


h3 {
	color: #9370DB;
	
}


h2{
	color: #9370DB;
	
}

h1 { 
 display: inline-block; 
 width: 20px; 
 height: 20px; 
 padding: 5px; 
 border: 1px solid blue; 
 background-color: yellow; 
} 
